#layout {
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav" //Technically <main> will exist in here but using Material sidenav main is nested in nav
        "footer footer footer";
    grid-template-rows: 6rem calc(100% - 11rem) 5rem;
    grid-template-columns: 4rem calc(100% - 4rem);
}

header { 
    grid-area: header;
    > .mat-toolbar {
        height: 100%;
    }
}

nav { 
    grid-area: nav;
}

main { 
    grid-area: main;
    border-style: dashed;
    border-color: red;
}

footer {
    grid-area: footer;
    border-style: dashed;
    border-color: yellow;
}

.example-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .example-toolbar {
    display: flex;
    justify-content: space-between;
  }

  #logo {
    display: flex;
  }

  h1.example-app-name {
    margin-left: 8px;
  }
  
  .mat-sidenav-fixed {
    position: absolute;
  }

  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .mat-icon {
    vertical-align: middle;
  }

  #stats {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // display: grid;
    // // align-items: center;
    // grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  #statsel, #rosterel {
    max-height: 40%;
    display: inline-block;
    height: 100%;
  }
  #statsel {
    max-height: 500px;
    width: calc(50%);
    max-width: 50%;
  }
